My thing: </br>
<form method=post>
    {% for field in choice.columnList %}
        <input type="checkbox" name="{{choice.name}}" value="{{field}}"> {{field}}
        <br/>
    {% endfor %}
    <input type="submit"></form>
</form>
{{ichoose}}